<%= form_for @food_type, html: { class: "mx-2" } do |f| %>
  <div class="mb-3">
    <%= f.label :name, "食形態" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :color, "色" %>
      <%= f.text_field :color, type: :"color", style: :"width: 100px; height: 100px;", class: "form-control" %>
  </div>

  <button type="submit" class="btn btn-primary">作成</button>
  <a href="/" class="btn btn-secondary">戻る</a>
<% end %>