<%= render "navbar" %>
<table class="table">
  <thead>
    <tr>
      <th>氏名</th>
      <th>ヨミガナ</th>
      <th>入居日</th>
      <th>食形態</th>
    </tr>
  </thead>
  <tbody>
    <% @residents && @residents.each do |resident| %>
      <tr>
        <td><a href="/residents/<%= resident.id %>"><%= resident.name %></a></td>
        <td><%= resident.kana %></td>
        <td><%= resident.move_in_date.strftime('%Y-%m-%d %k時') %></td>
        <td><%= resident.food_type.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<a href="/residents/new">
  <button type="button" class="btn btn-primary">追加する</button>
</a>
