<%= render "navbar" %>
<%= form_for @resident, html: { class: "mx-2" } do |f| %>
  <div class="mb-3">
    <%= f.label :name, "名前" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :kana, "ヨミガナ" %>
    <%= f.text_field :kana, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :move_in_date, "性別" %>
    <%= f.select :gender, {"男性": "1", "女性": "0"}, {}, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :address, "住所" %>
    <%= f.text_field :address, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :move_in_date, "生年月日" %>
    <%= f.date_field :birthday, value: "1950-01-01", class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :move_in_date, "入居日" %>
    <%= f.datetime_field :move_in_date, class: "form-control" %>
  </div>
  <div class="mb-3">
    <%= f.label :move_in_date, "食形態" %>
    <%= f.select :food_type_id, @food_types, {}, class: "form-control" %>
  </div>

  <button type="submit" class="btn btn-primary">作成</button>
  <a href="/" class="btn btn-secondary">戻る</a>
<% end %>
